stages:
  - stage-build-push
  #- analyzing
  - staging-deploy
  - prod-build-push
  - production-deploy

variables:
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  GIT_DEPTH: "0"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"

stage-build-push:
  stage: stage-build-push
  image: 192.168.0.214:5000/docker:24.0.5
  services:
    - name: docker:dind
      command: ["--insecure-registry=192.168.0.214:5000"]
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login http://192.168.0.214:5000 -u $CI_REGISTRY_USER --password-stdin
  script:
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHORT_SHA -f docker/stage.Dockerfile .
    - docker push $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
  only:
    - stage
  tags:
    - giftcard

#sonarqube-analyze:
#  stage: analyzing
#  image: 192.168.0.214:5000/library/gradle:8.10.2-jdk21
#  services:
#  - name: docker:dind
#    command: ["--insecure-registry=192.168.0.214:5000"]
#  before_script:
#    - echo $CI_REGISTRY_PASSWORD | docker login http://192.168.0.214:5000 -u $CI_REGISTRY_USER --password-stdin
#  script:
#    - gradle clean build
#    - gradle sonar -Dsonar.host.url=http://192.168.0.202:9000 -Dsonar.token=$SONAR_TOKEN -Dsonar.scanner.skipCertificateCheck=true

#  allow_failure: true
#  only:
#    - stage
#  tags:
#    - giftcard

staging-deploy:
  stage: staging-deploy
  image: 192.168.0.214:5000/alpine-cli:latest
  before_script:
    - mkdir -p ~/.ssh
    - echo "$DEPLOY_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan 192.168.0.222 >> ~/.ssh/known_hosts
  script:
    - |
      ssh -o StrictHostKeyChecking=no $DEPLOY_USER@192.168.0.222 "
        echo \"$CI_REGISTRY_PASSWORD\" | docker login http://192.168.0.214:5000 -u \"$CI_REGISTRY_USER\" --password-stdin && \
        docker pull $IMAGE_NAME:$CI_COMMIT_SHORT_SHA && \
        if [ \$(docker ps -a -q -f name=^/$CONTAINER_NAME\$) ]; then
          docker stop $CONTAINER_NAME && docker rm $CONTAINER_NAME
        fi && \
        docker run -d --name $CONTAINER_NAME --hostname $CONTAINER_NAME \
        -p 8082:8082 \
        -e PORT_NUMBER=8082 \
        -e POSTGRES_DB=giftcard_staging \
        -e POSTGRES_USER=taha \
        -e POSTGRES_PASSWORD=m73MFiQO4rSnhnPl \
        -e POSTGRES_HOST=192.168.0.211 \
        --network meta-net \
        --network-alias $CONTAINER_NAME \
        --restart unless-stopped \
         $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
      "
  only:
    - stage
  tags:
    - giftcard

prod-build-push:
  stage: prod-build-push
  image: 192.168.15.3:5000/docker:24.0.5
  services:
    - name: docker:dind
      command: ["--insecure-registry=192.168.0.214:5000"]
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo $CI_REGISTRY_PASSWORD_prod | docker login http://192.168.15.3:5000 -u $CI_REGISTRY_USER --password-stdin
  script:
    - docker build -t $IMAGE_NAME_prod:$CI_COMMIT_SHORT_SHA -f docker/prod.Dockerfile .
    - docker push $IMAGE_NAME_prod:$CI_COMMIT_SHORT_SHA
  only:
    - main
  tags:
    - prod

production-deploy:
  stage: production-deploy
  image: 192.168.0.214:5000/alpine-cli:latest
  before_script:
    - mkdir -p ~/.ssh
    - echo "$DEPLOY_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan 192.168.15.12 >> ~/.ssh/known_hosts
  script:
    - |
      ssh -o $DEPLOY_USER@192.168.15.12 "
        echo \"$CI_REGISTRY_PASSWORD\" | docker login http://192.168.0.214:5000 -u \"$CI_REGISTRY_USER\" --password-stdin && \
        docker pull $IMAGE_NAME_prod:$CI_COMMIT_SHORT_SHA && \
        if [ \$(docker ps -a -q -f name=^/$CONTAINER_NAME\$) ]; then
          docker stop $CONTAINER_NAME && docker rm $CONTAINER_NAME
        fi && \
        docker run -d --name $CONTAINER_NAME --hostname $CONTAINER_NAME \
        -p 8082:8082 \
        -e PORT_NUMBER=8082 \
        -e POSTGRES_DB=$PROD_DB \
        -e POSTGRES_USER=$PROD_DB_USER \
        -e POSTGRES_PASSWORD=$PROD_DB_PASS \
        -e POSTGRES_HOST=$PROD_DB_HOST \
        --network meta-net \
        --network-alias $CONTAINER_NAME \
        --restart unless-stopped \
         $IMAGE_NAME_prod:$CI_COMMIT_SHORT_SHA
      "
  only:
    - main
  tags:
    - prod

