stages:
  - stage-build-push
  #- analyzing
  - staging-deploy
  - prod-build-push
  - production-deploy

variables:
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  GIT_DEPTH: "0"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"

stage-build-push:
  stage: stage-build-push
  image: 192.168.0.214:5000/docker:24.0.5
  services:
    - name: docker:dind
      command: ["--insecure-registry=192.168.0.214:5000"]
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login http://192.168.0.214:5000 -u $CI_REGISTRY_USER --password-stdin
  script:
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHORT_SHA -f docker/stage.Dockerfile .
    - docker push $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
  only:
    - stage
  tags:
    - giftcard

#sonarqube-analyze:
#  stage: analyzing
#  image: 192.168.0.214:5000/library/gradle:8.10.2-jdk21
#  services:
#  - name: docker:dind
#    command: ["--insecure-registry=192.168.0.214:5000"]
#  before_script:
#    - echo $CI_REGISTRY_PASSWORD | docker login http://192.168.0.214:5000 -u $CI_REGISTRY_USER --password-stdin
#  script:
#    - gradle clean build
#    - gradle sonar -Dsonar.host.url=http://192.168.0.202:9000 -Dsonar.token=$SONAR_TOKEN -Dsonar.scanner.skipCertificateCheck=true

#  allow_failure: true
#  only:
#    - stage
#  tags:
#    - giftcard

staging-deploy:
  stage: staging-deploy
  image: 192.168.0.214:5000/alpine-cli:latest
  before_script:
    - mkdir -p ~/.ssh
    - echo "$DEPLOY_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan 192.168.0.222 >> ~/.ssh/known_hosts
  script:
    - |
      ssh -o StrictHostKeyChecking=no $DEPLOY_USER@192.168.0.222 "
        echo \"$CI_REGISTRY_PASSWORD\" | docker login http://192.168.0.214:5000 -u \"$CI_REGISTRY_USER\" --password-stdin && \
        docker pull $IMAGE_NAME:$CI_COMMIT_SHORT_SHA && \
        if [ \$(docker ps -a -q -f name=^/$CONTAINER_NAME\$) ]; then
          docker stop $CONTAINER_NAME && docker rm $CONTAINER_NAME
        fi && \
        docker run -d --name $CONTAINER_NAME --hostname $CONTAINER_NAME \
        -p 8082:8082 \
        -e PORT_NUMBER=8082 \
        -e DB_URL=jdbc:postgresql://${STAGE_DB_HOST}:5432/${STAGE_DB_NAME} \
        -e DB_USER=${STAGE_DB_USER} \
        -e DB_PASSWORD=${STAGE_DB_PASSWORD} \
        -e DISCOUNT_CODE_LEN=${STAGE_DISCOUNT_CODE_LEN:-8} \
        -e GIFTCARD_SERIAL_LEN=${STAGE_GIFTCARD_SERIAL_LEN:-8} \
        -e API_KEY_ENCRYPTION_SECRET=${STAGE_API_KEY_ENCRYPTION_SECRET} \
        -e CORS_ALLOWED_ORIGINS=${STAGE_CORS_ALLOWED_ORIGINS} \
        --network meta-net \
        --network-alias $CONTAINER_NAME \
        --restart unless-stopped \
         $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
      "
  only:
    - stage
  tags:
    - giftcard

prod-build-push:
  stage: prod-build-push
  image: 192.168.15.3:5000/docker:24.0.5
  services:
    - name: docker:dind
      command: ["--insecure-registry=192.168.0.214:5000"]
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo $CI_REGISTRY_PASSWORD_prod | docker login http://192.168.15.3:5000 -u $CI_REGISTRY_USER --password-stdin
  script:
    - docker build -t $IMAGE_NAME_prod:$CI_COMMIT_SHORT_SHA -f docker/prod.Dockerfile .
    - docker push $IMAGE_NAME_prod:$CI_COMMIT_SHORT_SHA
  only:
    - main
  tags:
    - prod

production-deploy:
  stage: production-deploy
  image: 192.168.15.3:5000/alpine-cli:3.20
  before_script:
    - mkdir -p ~/.ssh
    - echo "$PRIVATE_KEY_prod" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan 192.168.15.12 >> ~/.ssh/known_hosts
  script:
    - |
      ssh -o StrictHostKeyChecking=no $DEPLOY_USER@192.168.15.12 "
        echo \"$CI_REGISTRY_PASSWORD\" | docker login http://192.168.15.3:5000 -u \"$CI_REGISTRY_USER\" --password-stdin && \
        docker pull $IMAGE_NAME_prod:$CI_COMMIT_SHORT_SHA && \
        if [ \$(docker ps -a -q -f name=^/$CONTAINER_NAME\$) ]; then
          docker stop $CONTAINER_NAME && docker rm $CONTAINER_NAME
        fi && \
        docker run -d --name $CONTAINER_NAME --hostname $CONTAINER_NAME \
        -p 8082:8082 \
        -e PORT_NUMBER=8082 \
        -e DB_URL=jdbc:postgresql://${PROD_DB_HOST}:5432/${PROD_DB_NAME} \
        -e DB_USER=${PROD_DB_USER} \
        -e DB_PASSWORD=${PROD_DB_PASSWORD} \
        -e DISCOUNT_CODE_LEN=${PROD_DISCOUNT_CODE_LEN:-8} \
        -e GIFTCARD_SERIAL_LEN=${PROD_GIFTCARD_SERIAL_LEN:-8} \
        -e API_KEY_ENCRYPTION_SECRET=${PROD_API_KEY_ENCRYPTION_SECRET} \
        -e CORS_ALLOWED_ORIGINS=${PROD_CORS_ALLOWED_ORIGINS} \
        --network meta-net \
        --network-alias $CONTAINER_NAME \
        --restart unless-stopped \
         $IMAGE_NAME_prod:$CI_COMMIT_SHORT_SHA
      "
  only:
    - main
  tags:
    - prod

