stages:
  - build
  - analyzing
  - push
  - staging-deploy

variables:
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  GIT_DEPTH: "0"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"

build-and-push:
  stage: build
  image: 192.168.0.214:5000/docker:24.0.5
  services:
    - name: docker:dind
      command: ["--insecure-registry=192.168.0.214:5000"]
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login http://192.168.0.214:5000 -u $CI_REGISTRY_USER --password-stdin
  script:
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
    - docker push $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
  only:
    - stage
  tags:
    - giftcard

sonarqube-analyze:
  stage: analyzing
  image: gradle:8.10.2-jdk21
  services:
  - name: docker:dind
    command: ["--insecure-registry=192.168.0.214:5000"]
  #before_script:
  #  - echo $CI_REGISTRY_PASSWORD | docker login http://192.168.0.214:5000 -u $CI_REGISTRY_USER --password-stdin
  script:
    - gradle sonarqube -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_TOKEN

  allow_failure: true
  only:
    - stage
  tags:
    - giftcard
  needs:
    - build-and-push

staging-deploy:
  stage: staging-deploy
  image: alpine:3.20
  before_script:
    - apk add --no-cache openssh-client docker-cli
    - mkdir -p ~/.ssh
    - echo "$DEPLOY_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan 192.168.0.222 >> ~/.ssh/known_hosts

  script:
    - |
      ssh -o StrictHostKeyChecking=no $DEPLOY_USER@192.168.0.222 "
        echo \"$CI_REGISTRY_PASSWORD\" | docker login http://192.168.0.214:5000 -u \"$CI_REGISTRY_USER\" --password-stdin && \
        docker pull $IMAGE_NAME:$CI_COMMIT_SHORT_SHA && \
        if [ \$(docker ps -a -q -f name=^/$CONTAINER_NAME\$) ]; then
          docker stop $CONTAINER_NAME && docker rm $CONTAINER_NAME
        fi && \
        docker run -d --restart always --name $CONTAINER_NAME -p 8082:8082 $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
      "
  needs: ["build-and-push"]
  only:
    - stage
  tags:
    - giftcard
